@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');

header {
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ffffff47;
    width: 100%;
    padding: 20px 0px;
}
body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}
header ul {
    display: flex;
}

ul {
    list-style: none;
    padding: 0px;
}

a:hover {
    text-decoration: none;
}

*:focus {
    outline: none;
}

.row {
    margin: 0px;
}

p {
    margin: 0px;
}

header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logoContainer {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    max-width: max-content;
}

.menuContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuContainer a {
    display: block;
    color: #fff;
    margin: 0px 16px;
}

.bannerContainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.contentContainerBanner h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.contentContainerBanner p {
    font-size: 16px;
    max-width: 430px;
    line-height: 29px;
    color: #fff;
}

.contentContainerBanner a {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    border: 1px solid #fff;
    color: #fff;
    background: #ffffff1f;
    max-width: max-content;
    padding: 7px 40px;
    border-radius: 3px;
}